{% extends "base.html" %}
{% block content %}


<div class ="data-dashboard">
    <h1 style="text-align: center;">Data Dashboard</h1>
    <div class ="data-container">
        <section id="user-ids">
            <h2>User ID Data</h2>
            <ul>
                <li>Total Number of Students Served (total swipes): {{ total_student_count }}</li>
                <li>Distinct Number of Students Served: {{ distinct_user_count }}</li>
                <li>Average Number of Visits per User: {{ avg_visits_per_user }}</li>
                
            </ul>
        </section>

        <section id="poundage">
            <h2>Food Poundage Data</h2>
            <ul>
                <li>Total Pounds Distributed: {{ total_lbs_taken }}</li>
                <li>Average Pounds Distributed Per day: {{avg_lbs_per_day}}</li>

            </ul>
        </section>

        <section id="timestamp-data">
            <h2>Timestamp Data</h2>
            <ul>
                <li>Most Visited Day of the Week: {{ most_visited_day }}</li>
                <li>Average Visits Per Day: {{ avg_visits_per_day }}</li>
                <li>Highest Number of Visits in a Day: {{highest_num_of_visits}}</li>
            </ul>
            
            <form action="{{ url_for('download_csv') }}" method="get">
                <button type="submit" class="btn btn-primary">Download Data</button>
            </form>
            
        </section>
    </div>
    
</div>
        
    <script src="/static/scripts.js"></script>
{% endblock %}