{% extends "base.html" %}

{% block content %}
<div class="hero-section">
<div class ="container-fluid">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="action-buttons">
                    <a href="{{ url_for('inventory') }}" class="btn btn-inventory">
                        <h2>INVENTORY FEED</h2>
                        <p>Live updated feed for in-stocked food items.</p>
                    </a>
                    <a href="{{ url_for('volunteer') }}" class="btn btn-volunteer">
                        <h2>VOLUNTEER</h2>
                        <p>Sign up for volunteer, hours of operation.</p>
                    </a>
                </div>
                <div class="meet-team">
                        <h1 style="color: #F4C430;">Meet the Team</h1>
                        <div class="row">
                            <p style="color: white;" id="team-intro">
                                We are a team of 4 students from Augustana College, working on this project as part of our Senior Graduating Project. 
                                Our goal is to create a user-friendly platform that helps Augie's Campus Cupboard manage their inventory and connect with volunteers.
                            </p>
                            <div class="col-md-3 text-center">
                                <img src="{{ url_for('static', filename='images/amine.jpg') }}" alt="Team Image" class="img-fluid">
                                <p style="color: white;">Amine</p>
                                <p id="roles">Software Developer</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <img src="{{ url_for('static', filename='images/ian.webp') }}" alt="Team Image" class="img-fluid">
                                <p style="color: white;">Ian</p>
                                <p id="roles">Software Developer</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <img src="{{ url_for('static', filename='images/nick.webp') }}" alt="Team Image" class="img-fluid">
                                <p style="color: white;">Nick</p>
                                <p id="roles">UI/UX Software Developer</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <img src="{{ url_for('static', filename='images/minh.webp') }}" alt="Team Image" class="img-fluid">
                                <p style="color: white;">Minh</p>
                                <p id="roles">UI/UX Software Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}