{% extends "base.html" %}

{% block content %}
<div class="container mt-5" style="margin: 4rem;">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card mb-4" id="volunteer-card">    
                <h1>Volunteer Page</h1>
                <div >
                    <p>Volunteer here: <a href="https://calendar.google.com/calendar/u/0/r/eventedit" target="_blank">Sign Up for a Shift</a></p> 
                    <!-- Google Calendar Appointment Scheduling begin -->
                    <iframe src="https://calendar.google.com/calendar/embed?src=c_188e5jn6qv8kmi9bk5rlmi06aar42%40resource.calendar.google.com&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                    <!-- end Google Calendar Appointment Scheduling -->
                </div>        
            </div>
        </div>
    </div>
</div>
{% endblock %}