{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card mb-4">    
        <h1>Volunteer Page</h1>
    <div >
        <h2>Volunteer Tools</h2>
        <p>Volunteer here: <a href="https://calendar.google.com/calendar/u/0/r/eventedit" target="_blank">Sign Up for a Shift</a></p> 
    
    <!-- Google Calendar Appointment Scheduling begin -->
<iframe src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ3ueSLfwsAmZ6Ezvoii2jMhqla30o6xJlEG81xImhlqMpz_aEnPEn1P5Cci9ncV8oMxVr6wOv-K?gv=true" style="border: 0" width="100%" height="600" frameborder="0"></iframe>
<!-- end Google Calendar Appointment Scheduling -->
    </div>
    </div>
</div>
{% endblock %}