{% extends "base.html" %}

{% block content %}
<div class="container mt-5" style="margin: 4rem;">
    <div class="card mb-4">    
        <h1>Volunteer Page</h1>
    <div >
        <h2>Volunteer Tools</h2>
        <p>Volunteer here: <a href="https://calendar.google.com/calendar/u/0/r/eventedit" target="_blank">Sign Up for a Shift</a></p> 
    
    <!-- Google Calendar Appointment Scheduling begin -->
<iframe src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ35rS3GzBXTcC7oI_084gz9ObdAz8FbZg6i-Idied2Fcqg9kNqL3yPXYrQPhcuF1n2f3XVzTKVN?gv=true" style="border: 0" width="100%" height="600" frameborder="0"></iframe>
<!-- end Google Calendar Appointment Scheduling -->
    <!-- end Google Calendar Appointment Scheduling -->
    </div>
    </div>
</div>
{% endblock %}